body {
    font-family: arial;
    background-color: rgb(240, 240, 235) !important;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmd {
    position: relative;
    display: block;
    height: 300px;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 8px 18px #4b1d3f;
}

/*
 * 1. Set position
 * 2. Set dimension
 * 3. Style
 */
.title-bar {
    /* 1 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* 2 */
    width: 100%;
    height: 40px;
    /* 3 */
    display: block;
    color: #FFFFFF;
    line-height: 40px;
    font-weight: 600;
    background-color: #242424;
    text-align: center;
}

.tool-bar {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #242424;
}

    .tool-bar ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

        .tool-bar ul li {
            display: inline-block;
            margin: 0;
            padding: 0;
            padding: 0px 6px;
            text-decoration: none;
            color: #FFFFFF;
        }

.textarea {
    position: relative;
    top: 70px;
    padding: 12px;
    resize: none;
    width: 100%;
    height: calc(100% - 70px);
    background-color: rgb(240, 240, 235);
    border: none;
    color: #000;
    margin: 0px;
    font-size: 0.9rem;
}